<form action="/pick" method="POST">

<table>
  <tr>
    <th></th>
    <% @week.users_by_ranking.each do |user| %>
      <th class="user_names">
        <%= "***\n" if (session[:current_user_name] == user.name) %>
        <%= user.name %>
        <%= "\n***" if (session[:current_user_name] == user.name) %>
      </th>
    <% end %>
  </tr>

  <% @week.games_by_kickoff_time.each do |game| %>
    <tr>
      <td class="team_names">
        <span class="away_team_name"><input type="radio" value="away<%= game.id %>" name="game<%= game.id %>"><%= game.away_team.name %></span>
        <span class="home_team_name"><input type="radio" value="home<%= game.id %>" name="game<%= game.id %>"><%= game.home_team.name %></span>
        <span class="vs">vs.</span>
      </td>

      <% User.all.each do |user| %>
        <td class="pick_abbrev"><%= user.pick_abbreviation_for(game.id) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<input type="submit">
</form>
