<form action="/pick" method="POST">

<table>
  <tr>
    <th></th>
    <% User.all.each do |user| %>
      <th class="user_names">
        <%= "***\n" if (session[:current_user_name] == user.name) %>
        <%= user.name %>
        <%= "\n***" if (session[:current_user_name] == user.name) %>
      </th>
    <% end %>
  </tr>

  <% @week.games_in_order.each do |game| %>
    <tr>
      <td class="team_names">
        <span class="away_team_name"><input type="radio" value="away<%= game.id %>" name="game<%= game.id %>"><%= game.away_team.name %></span>
        <span class="home_team_name"><input type="radio" value="home<%= game.id %>" name="game<%= game.id %>"><%= game.home_team.name %></span>
        <span class="vs">vs.</span>
      </td>
      <% game.picks.each do |pick| %>
        <td class="pick_abbrev"><%= pick.team.name[0].capitalize %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<input type="submit">
</form>
